body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto Flex', sans-serif;
}

.big-div {
    width: fit-content;
    height: fit-content;
    background-color: #fbfbfb;
    margin: 0px 16px;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.top img:first-child {
    padding: 24px 24px;
}

.top img:last-child {
    padding-bottom: 12px;
    margin-left: 320.93px;
    padding-right: 24px;
}

.dropDown {
    display: inline-block;
    position: relative;
    margin-left: 200px;
}

#features {
    text-decoration: none;
    border: 2px solid transparent;
    padding: 12px 20px;
    background-color: #822E27;
    color: #fbfbfb;
}

.dropDownContent {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropDown:hover .dropDownContent {
    display: block;
}

.contentLinks a {
    display: block;
    border: 1px solid #822E27;
    text-decoration: none;
    background-color: #fbfbfb;
    color: #822E27;
    padding: 8px 34px;
    text-align: center;
}

.contentLinks a:hover {
    color: #fbfbfb;
    background-color: #822E27;
}

ul {
    list-style: none;
    padding: 0px;
}

.random-content {
    width: 560px;
    height: fit-content;
    margin: 80px 16px ;
    text-align: center;
    background-color: #b531b1;
}