@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
  font-family: "Roboto Flex";
}
body {
  background-color: #e9e9e9;
  color: #822e27;
}

.site {
  width: 85vw;
  margin: auto;
  padding-bottom: 30px;
  margin-top: 100px;
}

h1 {
  margin: 20px 0px 20px 55px;
}
.imgs {
  text-align: center;
}
.img1 {
  margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
  .imgs img {
    height: 35vh;
    width: 100%;
  }
  .site {
    margin-top: 190px;
  }
  h1 {
    margin: 20px;
  }
}
